/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}




/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
 scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgb(0, 14, 27);
}

nav {
    background-color: rgba(15, 15, 15, 0.75);
    position: sticky;
    top: 0;
    z-index: 100;
}

#menutop i {
    display: none;
}

nav h1 {
    margin: 0vw .5vw;
    font-size: 48px;
    font-family: 'Roboto Slab', serif;
    color: rgba(16, 212, 137, 0.85);
    text-align: center;
}

.navbar {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    filter: drop-shadow(0 0 50px black);
}

.navbar a {
    margin: 4px 2px;
    padding: 16px 5px;
    background-color: rgba(15, 15, 15, 0.5);
    text-decoration: none;
    color: rgb(16, 212, 137);
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    vertical-align: middle;
    transition: .2s;
    border: rgba(16, 212, 137, 0.85) 2px solid;
}

.navbar a:hover {
    background-color: rgb(15, 15, 15);
    color: rgb(255, 102, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border: white 2px solid;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
}

.main div.image:first-of-type {
    height: 980px;
    margin-top: -180px;
    grid-template-rows: 1fr 2fr .5fr;
}

.main div.image {
    height: 800px;
    background-image: url("https://images.pexels.com/photos/34577/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed;
    -webkit-clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0 90%, 0 0);
    clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0 90%, 0 0);
    display: grid;
    grid-template-rows: .875fr 2fr .875fr;
}

.main div.image .textbox {
    max-width: 100%;
    background-color: rgba(16, 212, 137, 0.85);
    padding: 3vw;
}

.main div.image h1 {
    margin: .5vw 0;
    font-family: 'Roboto Slab', serif;
    font-size: calc(32px + 3vw);
    color: rgb(15, 15, 15);
}

.main div.image h2 {
    margin: .5vw 0;
    font-family: 'Roboto', sans-serif;
    font-size: calc(22px + 1vw);
    color: rgb(15, 15, 15);
    margin-bottom: 1vw;
}

.main div.image a {
    background-color: rgb(255, 102, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding: .5vw 1vw;
    margin: 2.5vw 0;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: calc(16px + .8vw);
    transition: .2s;
}

.main div.image a:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

section {
    margin: .5vw 2vw 1vw;
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr;
}

section div {
    margin: .5vw 0;
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + .4vw);
    color: white;
    border: 2px rgb(255, 102, 0) solid;
    border-bottom: 8px rgb(255, 102, 0) solid;
    background-color: rgb(15, 15, 15);
    padding: 2vw;
}

section h1 {
    background-color: rgb(255, 102, 0);
    padding-left: 2vw;
    margin: .5vw 0;
    font-family: 'Roboto Slab', serif;
    font-size: calc(32px + 2vw);
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

img {
    width: 45%;
    float: left;
    margin-right: 1vw;
    margin-top: 1vw;
    border: 2px rgb(255, 102, 0) solid;
    padding: .5vw;
}

article img {
    width: 30%;
    float: right;
    margin-left: 1vw;
}

article {
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + .4vw);
    color: white;
    border: 2px rgb(255, 102, 0) solid;
    border-bottom: 8px rgb(255, 102, 0) solid;
    background-color: rgb(15, 15, 15);
    padding: 2vw;
    margin: .5vw 2vw 1vw;
}

article h1 {
    padding-left: 2vw;
    background-color: rgb(255, 102, 0);
    margin: .5vw 0;
    font-family: 'Roboto Slab', serif;
    font-size: calc(32px + 2vw);
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

select {
    display: none;
}

.dropdown {
    display: none;
}

@media only screen and (max-width: 900px) {

    .dropdown {
        position: relative;
        display: inline-block;
        margin: 4px auto;
        padding: 10px 16px;
        background-color: rgba(15, 15, 15, 0.5);
        text-decoration: none;
        color: rgb(16, 212, 137);
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        vertical-align: middle;
        transition: .2s;
        border: rgba(16, 212, 137, 0.85) 2px solid;
        text-align: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 48px;
        left: -2px;
        padding: 0 10px;
        background-color: rgba(15, 15, 15, 0.5);
        text-decoration: none;
        color: rgb(16, 212, 137);
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        transition: .2s;
        border: rgba(16, 212, 137, 0.85) 2px solid;
        width: calc(200px + 20vw);
    }

    .dropdown-content a {
        margin: 8px;
        padding: 8px;
        display: block;
        text-align: left;
        background-color: rgb(15, 15, 15);
        text-decoration: none;
        color: rgb(16, 212, 137);
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        transition: .2s;
        border: rgba(16, 212, 137, 0.85) 2px solid;
    }

    .dropdown-content a:hover {
        background-color: rgb(15, 15, 15);
        color: rgb(255, 102, 0);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        border: white 2px solid;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .navbar {
        display: none;
    }

    section {
        grid-template-columns: 1fr;
    }

    article img {
        width: 45%;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}